install/downgrade python 3.12
https://github.com/BtbN/FFmpeg-Builds/releases : 
            (go to the Assets section and download 3rd last gpl.zip file (143 mb), after extracting it, 
            add the bin follder's path to environment variables > user variables)

install following using pip:(pip install) 
 git+https://github.com/openai/whisper.git
 pyyaml
 onnxruntime
 ttstokenizer
 pydub
 soundfile
 nltk
//after pip install nltk, create a new python file and run the following script:
import nltk
nltk.download('averaged_perceptron_tagger_eng')
//after successful download, you can delete this .py file.

